<div id="premieres" class="b_e2e2e2 fc_4c4c4c">
  <div class="top_box">
    <div class="div_title"><h1 style="float: left;">Premiery &nbsp;</h1> <span class="fc_005181"><h1
      style="float: left;">kinowe</h1></span>
      <div class="clear"></div>
    </div>
    <div id="box_line"></div>
    <div id="box_grid" class="selected"></div>
    <div class="clear"></div>
  </div>
  <div>
    <div class="box_line">
      <div class="bc_ffffff">
        <div class="img_border_2 b_e2e2e2 bc_ffffff">
          <a href="http://www.filmy.pl/film/885/413-do-katowic/" title="4:13 do Katowic">
            <img class="poster b_e2e2e2" src="http://www.filmy.pl/images/layout/defaultPoster_48x69.jpg"
                 alt="4:13 do Katowic" title="4:13 do Katowic"/></a>
        </div>
        <div class="tds">
          <div class="title fc_45a2d7"><a href="http://www.filmy.pl/film/885/413-do-katowic/" title="4:13 do Katowic">
            <h2 style="font-size: 14px;">4:13 do Katowic</h2></a></div>
          <div class="date_stars">
            <div class="date fc_777777"></div>
            <div class="clear"></div>
          </div>
          <div class="clear"></div>
        </div>
        <div class="text_2"></div>
        <div class="clear"></div>
      </div>
    </div>
    <div class="box_grid">
    </div>
  </div>
</div>
