<div id="film_box_m" class="b_e2e2e2 fc_777777">
  <div class="top_box fc_4c4c4c">
    <div class="div_title"><h2 style="font-size: 14px;">Informacje: Dystrykt 9</h2></div>
    <div class="clear"></div>
  </div>
  <div>
    <div class="height_10"></div>
    <ul>
      <li>
        <img class="test" src="/assets/images/layout/icon_dot_menu_10x10.png" alt="" title=""/>
        <a href="http://www.filmy.pl/film/8/dystrykt-9/" title="Strona o filmie"> Strona o filmie
        </a></li>
      <li>
        <img class="test" src="/assets/images/layout/icon_dot_menu_10x10.png" alt="" title=""/>
        <a href="http://www.filmy.pl/film/8/dystrykt-9/obsada/" title="Pełna obsada"> Pełna obsada
        </a></li>
      <li>
        <img class="test" src="/assets/images/layout/icon_dot_menu_10x10.png" alt="" title=""/>
        <a href="http://www.filmy.pl/film/8/dystrykt-9/galeria/" title="Zdjęcia (7)"> Zdjęcia (7)
        </a></li>
      <li>
        <img class="test" src="/assets/images/layout/icon_dot_menu_10x10.png" alt="" title=""/>
        <a href="http://www.filmy.pl/film/8/dystrykt-9/media/" title="Zwiastuny (1)"> Zwiastuny (1)
        </a></li>
      <li>
        <img class="test" src="/assets/images/layout/icon_dot_menu_10x10.png" alt="" title=""/>
        <a href="http://www.filmy.pl/film/8/dystrykt-9/#anchorComments" title="Komentarze (27)"> Komentarze (27)
        </a></li>
      <li>
        <img class="test" src="/assets/images/layout/icon_dot_menu_10x10.png" alt="" title=""/>
        <a href="http://www.filmy.pl/film/8/dystrykt-9/streszczenia/" title="Streszczenia (1)"> Streszczenia (1)
        </a></li>
      <li>
        <img class="test" src="/assets/images/layout/icon_dot_menu_10x10.png" alt="" title=""/>
        <a href="http://www.filmy.pl/film/8/dystrykt-9/recenzje/" title="Recenzje (1)"> Recenzje (1)
        </a></li>
      <li>
        <img class="test" src="/assets/images/layout/icon_dot_menu_10x10.png" alt="" title=""/>
        Opisy (0)
      </li>
      <li>
        <img class="test" src="/assets/images/layout/icon_dot_menu_10x10.png" alt="" title=""/>
        Artykuły (0)
      </li>
      <li>
        <img class="test" src="/assets/images/layout/icon_dot_menu_10x10.png" alt="" title=""/>
        <a href="http://www.filmy.pl/film/8/dystrykt-9/news/" title="Newsy (1)"> Newsy (1)
        </a></li>
      <li>
        <img class="test" src="/assets/images/layout/icon_dot_menu_10x10.png" alt="" title=""/>
        Nagrody (0)
      </li>
      <li>
        <img class="test" src="/assets/images/layout/icon_dot_menu_10x10.png" alt="" title=""/>
        Pressbook (0)
      </li>
    </ul>
    <div class="height_10"></div>
  </div>
</div>
