<div id="film_box_g" class="b_e2e2e2 fc_4c4c4c">
  <div class="top_box">
    <div class="div_title"><h2 style="font-size: 14px; float: left;">Foto &nbsp;</h2> <span class="fc_005181"><h2
      style="font-size: 14px; float: left;">Box</h2></span>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="thumblist">
    <div>
      <a href="/film/8/dystrykt-9/galeria/#anchorGallery" class="fancyboxFotoBox"
         rel="fancyboxFotoBoxGallery" title="Dystrykt 9"><img class="b_777777"
                                                              src="http://www.filmy.pl/cache/9798.5d80e.h68.w68.jpg"
                                                              alt="Dystrykt 9" title="Dystrykt 9"/></a>
      <a href="http://www.filmy.pl/film/8/dystrykt-9/galeria/#anchorGallery" class="fancyboxFotoBox"
         rel="fancyboxFotoBoxGallery" title="Dystrykt 9"><img class="b_777777"
                                                              src="http://www.filmy.pl/cache/9799.0cf92.h68.w68.jpg"
                                                              alt="Dystrykt 9" title="Dystrykt 9"/></a>
      <a href="http://www.filmy.pl/film/8/dystrykt-9/galeria/#anchorGallery" class="fancyboxFotoBox"
         rel="fancyboxFotoBoxGallery" title="Dystrykt 9"><img class="b_777777 last"
                                                              src="http://www.filmy.pl/cache/9800.fbfa6.h68.w68.jpg"
                                                              alt="Dystrykt 9" title="Dystrykt 9"/></a>
      <div class="clear"></div>
    </div>
    <div>
      <a href="http://www.filmy.pl/film/8/dystrykt-9/galeria/#anchorGallery" class="fancyboxFotoBox"
         rel="fancyboxFotoBoxGallery" title="Dystrykt 9"><img class="b_777777"
                                                              src="http://www.filmy.pl/cache/9801.6fd08.h68.w68.jpg"
                                                              alt="Dystrykt 9" title="Dystrykt 9"/></a>
      <a href="http://www.filmy.pl/film/8/dystrykt-9/galeria/#anchorGallery" class="fancyboxFotoBox"
         rel="fancyboxFotoBoxGallery" title="Dystrykt 9"><img class="b_777777"
                                                              src="http://www.filmy.pl/cache/9802.893b2.h68.w68.jpg"
                                                              alt="Dystrykt 9" title="Dystrykt 9"/></a>
      <a href="http://www.filmy.pl/film/8/dystrykt-9/galeria/#anchorGallery" class="fancyboxFotoBox"
         rel="fancyboxFotoBoxGallery" title="Dystrykt 9"><img class="b_777777 last"
                                                              src="http://www.filmy.pl/cache/9803.7d2b2.h68.w68.jpg"
                                                              alt="Dystrykt 9" title="Dystrykt 9"/></a>
      <div class="clear"></div>
    </div>
    <div class="goto"><a href="/film/8/dystrykt-9/galeria/#anchorGallery"
                         title="przejdź do galerii">przejdź do galerii</a></div>
    <div class="clear height_10"></div>
  </div>
</div>
