<div id="footer" class="row">
  <div class="col-2 float-left netmedia"><a href="/" title="NetMedia S.A.">NetMedia S.A.</a></div>
  <div class="col">
    <div class="row">
      <a href="/o-filmypl/">O filmy.pl</a>
      &nbsp;|&nbsp;
      <a href="/reklama/">Reklama</a>
      &nbsp;|&nbsp;
      <a href="/kontakt/">Kontakt</a>
      &nbsp;|&nbsp;
      <a href="/dla-mediow/">Dla Mediów</a>
      &nbsp;|&nbsp;
      <a href="/regulamin/">Regulamin</a>
      &nbsp;|&nbsp;
      <a href="/politykaprywatnosci/">Polityka prywatności</a>
    </div>
    <div class="row fc_777777">
      Copyright ©2020 Filmy.pl, NetMedia S.A
    </div>
  </div>
  <div class="col-1 float-right">
    <a href="/"><img alt="Rzetelna firma" src="/assets/images/layout/banner60x38.png"/></a>
  </div>
</div>

