<div id="footer" class="fc_777777">
  <div class="netmedia left"><a href="/" title="NetMedia S.A.">NetMedia S.A.</a></div>
  <div class="links left">
    <div class="mc_html"><a href="/o-filmypl/">O filmy.pl</a> |
      <a href="/reklama/">Reklama</a> |
      <a href="/kontakt/">Kontakt</a> |
      <a href="/dla-mediow/">Dla Mediów</a> |
      <a href="/regulamin/">Regulamin</a> |
      <a href="/politykaprywatnosci/">Polityka prywatności</a>
      <p>Copyright ©2020 Filmy.pl, NetMedia S.A</p></div>
  </div>
  <div class="right">
    <a href="/"><img style="margin-right: 26px; margin-top: 7px;" alt="Rzetelna firma"
                     src="/assets/images/layout/banner60x38.png"/></a>
  </div>
  <div class="clear"></div>
</div>
