<div id="header">
  <div class="logo left"><a href="/" title="Filmy.pl"><img src="/assets/images/layout/logo_filmy_185x68.gif"
                                                           alt="filmy, premiery kinowe, aktualności filmowe"
                                                           title="filmy, premiery kinowe, aktualności filmowe"/></a>
  </div>
  <div class="user_panel left">
    <div class="right" style="margin-top: -13px; margin-right: 20px;">
      <a href="/forum"><img src="/assets/images/buttonForum.png" alt="Wejdź na forum" title="Wejdź na forum"/></a>
    </div>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
</div>
<script type="text/javascript">
  $(document).ready(function () {
    $("a#infoIco").click(function (event) {
      $("div#website").fadeIn();
    });
    $("#websiteClose").click(function (event) {
      $("div#website").fadeOut();
    });
  });
</script>
