<div class="row">
  <div class="col float-left">
    <a href="/" title="Filmy.pl"><img src="/assets/images/layout/logo_filmy_185x68.gif"
                                      alt="filmy, premiery kinowe, aktualności filmowe"
                                      title="filmy, premiery kinowe, aktualności filmowe"/></a>
  </div>
  <div class="col"></div>
  <div class="col float-right">
<!--    <a href="/forum"><img src="/assets/images/buttonForum.png" alt="Wejdź na forum" title="Wejdź na forum"/></a>-->
  </div>
</div>
