<div class="row">
<!--  <ul class="float-left">-->
<!--    <li><a href="/nowosci/" title="Nowości">Nowości</a></li>-->
<!--    <li><a href="/katalog/" title="Katalog">Katalog</a></li>-->
<!--&lt;!&ndash;    <li><a title="Społeczność">Społeczność</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;    <li><a href="/sklep/stereo/" class=" " title="Sklep">Sklep</a></li>&ndash;&gt;-->
<!--  </ul>-->
<!--  <div class="float-right"></div>-->

<!--  <div id="miniMenu" style="display: none">-->
<!--    <a href="/logowanie/" title="Logowanie">Logowanie</a> |-->
<!--    <a href="/rejestracja/" title="Rejestracja">Rejestracja</a> |-->
<!--    <a href="/pomoc/" title="Pomoc">Pomoc</a> |-->
<!--    <a href="javascript:void(0);" title="info" id="infoIco">i</a>-->
<!--    <div id="website">-->
<!--      <img src="/assets/images/layout/close.gif" alt="" id="websiteClose"/>-->
<!--      <strong>Filmy.pl</strong> to otwarty portal filmowy, który odwiedzać mogą nie tylko zaprzysięgli-->
<!--      kinomaniacy, ale także zwykli fani kina, którzy wyjście do kina traktują jako dobrą rozrywkę. Wszystkim-->
<!--      naszym użytkownikom polecamy naszą bazę najnowszych filmów, gorące recenzje kinowe, zwiastuny filmowe oraz-->
<!--      galerie zdjęć. Organizujemy konkursy filmowe, w których można zdobyć atrakcyjne nagrody. Zapraszamy także-->
<!--      wszystkich na nasze forum filmowe, gdzie można podyskutować na takie tematy jak ulubione filmy, gwiazdy-->
<!--      ekranu, technika filmowa, muzyka filmowa, festiwale i nagrody filmowe, kina, filmy telewizyjne… i wiele,-->
<!--      wiele innych tematów!<br/><br/><strong>Filmy.pl</strong> - Otwarty Portal Filmowy: Obszerna baza filmów.-->
<!--      Aktualności filmowe. Zwiastuny filmowe. Premiery i zapowiedzi kinowe. Najnowsze filmy. Galerie zdjęć: fotosy-->
<!--      i zdjęcia z planu. Recenzje filmowe, streszczenia filmów i opisy. Konkursy filmowe. Forum filmowe. Słowem:-->
<!--      wszystko o filmie!-->
<!--    </div>-->
<!--  </div>-->
</div>
