<div class="row">
  <div class="col">
    Szukana fraza<br/>
    <input type="text"/>
  </div>
  <div class="col">
    Gatunek filmu<br/>
    <select>
      <option></option>
      <ng-container *ngFor="let genre of genres">
        <option value="{{genre.id}}">{{genre.name}}</option>
      </ng-container>
    </select>
  </div>
  <div class="col">
    Kraj produkcji<br/>
    <select>
      <option></option>
      <ng-container *ngFor="let country of countries">
        <option value="{{country.id}}">{{country.name}}</option>
      </ng-container>
    </select>
  </div>
  <div class="col">
    Szukaj w<br/>
    <select id="whatSearch">
      <option value="films">Filmy</option>
      <option value="persons">Ludzie filmu</option>
      <option value="users">Użytkownicy</option>
      <option value="articles">Aktualności</option>
    </select>
  </div>
  <div class="col">
    <input type="submit" value="Szukaj"/>
  </div>
</div>
