<div id="social" class="fc_777777">
  <div class="social_l left"></div>

  <div class="twitter left">
    <a class="t_a left" href="/">http://twitter.com/filmy_pl</a>
    <div class="t_txt left">
      <a href="/">Śledź nas na Twitterze</a>
      <div><i>Wszystko co najnowsze w serwisie wyćwierkamy na bieżąco!</i></div>
    </div>
    <div class="clear"></div>
  </div>

  <div class="social_b left"></div>

  <div class="facebook left">
    <a class="f_a left" href="/">http://www.facebook.com</a>
    <div class="f_txt left">
      <a href="/">Filmy.pl na Facebook</a>
      <div><i>Dołącz do Filmy.pl na Facebook - zostań naszym przyjacielem</i></div>
    </div>
    <div class="clear"></div>
  </div>

  <div class="social_b left"></div>

  <div class="youtube left">
    <a class="y_a left" href="/">http://www.youtube.com</a>
    <div class="y_txt left">
      <a href="/">Nasz kanał YouTube</a>
      <div><i>Oglądaj zawsze świeże zwiastuny na naszym kanale na Youtube.com</i></div>
    </div>
    <div class="clear"></div>
  </div>

  <div class="social_r left"></div>
  <div class="clear"></div>
</div>
