<div id="social" class="row fc_777777">
  <div class="col">
    <a class="col t_a" href="/">http://twitter.com/filmy_pl</a>
    <div class="col">
      <a href="/">Śledź nas na Twitterze</a>
      <div><i>Wszystko co najnowsze w serwisie wyćwierkamy na bieżąco!</i></div>
    </div>
  </div>
  <div class="col float-left">
    <a class="f_a float-left" href="/">http://www.facebook.com</a>
    <div class="float-left">
      <a href="/">Filmy.pl na Facebook</a>
      <div><i>Dołącz do Filmy.pl na Facebook - zostań naszym przyjacielem</i></div>
    </div>
  </div>
  <div class="col float-left">
    <a class="y_a left" href="/">http://www.youtube.com</a>
    <div class="float-left">
      <a href="/">Nasz kanał YouTube</a>
      <div><i>Oglądaj zawsze świeże zwiastuny na naszym kanale na Youtube.com</i></div>
    </div>
  </div>
</div>
