<div class="row" style="background-color: #c69500">
<!--  <ul class="news">-->
<!--    <li class="left"><a href="/nowosci/na-ekranach/">Na ekranach</a><span>|</span></li>-->
<!--    <li class="left"><a href="/nowosci/premiery/">Premiery</a><span>|</span></li>-->
<!--    <li class="left"><a href="/nowosci/zapowiedzi/">Zapowiedzi</a><span>|</span></li>-->
<!--    <li class="left"><a href="/nowosci/recenzje/">Recenzje</a><span>|</span></li>-->
<!--    <li class="left"><a href="/nowosci/top-10-swiat/">Top 10 Świat</a><span>|</span></li>-->
<!--    <li class="left"><a href="/nowosci/top-10-polska/">Top 10 Polska</a><span>|</span></li>-->
<!--    <li class="left"><a href="/nowosci/aktualnosci/">Aktualności</a></li>-->
<!--  </ul>-->
<!--  <div class="clear"></div>-->

<!--  <ul class="trai">-->
<!--    <li class="left"><a href="/"></a></li>-->
<!--  </ul>-->
<!--  <div class="clear"></div>-->

<!--  <ul class="cata">-->
<!--    <li class="left"><a href="/katalog/filmy/">Filmy</a><span>|</span></li>-->
<!--    <li class="left"><a href="/katalog/ludzie/">Ludzie</a></li>-->
<!--  </ul>-->
<!--  <div class="clear"></div>-->

<!--  <ul class="comm">-->
<!--    <li class="left"><a href="/profil/">Mój profil</a> <span>|</span></li>-->
<!--    <li class="left"><a href="/forum/">Forum</a> <span>|</span></li>-->
<!--    <li class="left"><a href="/konkurs/">Konkursy</a></li>-->
<!--  </ul>-->
<!--  <div class="clear"></div>-->
</div>
