<div id="left" class="left">
  <div class="contentHeader">
    <div class="top_box">
      <div class="div_title">
        <h1 style="float: left;">O &nbsp;</h1> <span class="fc_005181"><h1 style="float: left;">FILMY.PL</h1></span>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="contentBox b_e2e2e2">
    <div class="contentBlock">
      <div style="text-align: justify;">Filmy.pl to społecznościowy portal filmowy o og&oacute;lnopolskim zasięgu,
        zawierający m. in. szeroką bazę informacji o setkach film&oacute;w, najświeższe informacje z branży filmowej,
        recenzje najnowszych produkcji. <br/><br/>Nasz portal skierowany jest do wszystkich internaut&oacute;w, kt&oacute;rzy
        chcą podzielić się wrażeniami z ulubionych film&oacute;w, napisać recenzję ostatniego hitu kinowego,
        zaproponować swoje ulubione filmy innym, lub po prostu dowiedzieć się czegoś o kinie.<br/><br/>Zapraszamy Was do
        korzystania z naszego serwisu i wzbogacaniu go autorskimi treściami. Chcemy, byście byli wsp&oacute;łautorami
        serwisu Filmy.pl, kt&oacute;ry tworzymy dla Was. Najaktywniejsi, najpłodniejsi literacko i najzdolniejsi tw&oacute;rcy
        będą mieli szansę dołączenia do naszego zespołu redakcyjnego. Czekamy na Was i Wasze dzieła!<br/><br/>Chcemy
        zapewnić Wam jak największej wygody przy korzystaniu z serwisu, będziemy nieustannie dopracowywać layout
        graficzny oraz rozmieszczenie element&oacute;w nawigacyjnych, a także tworzyć nowe, pomocne w korzystaniu z
        serwisu funkcjonalności. Jeżeli macie pomysł, jak usprawnić działanie naszego serwisu, zapraszamy do przekazania
        go nam za pośrednictwem formularza kontaktowego.<br/><br/>W portalu Filmy.pl chcemy z Waszą pomocą tworzyć na
        bieżąco zasobną bazę wiedzy o światowej kinematografii i jej tw&oacute;rcach. W planach mamy szeroki serwis
        informacyjny, zawierający najnowsze wieści ze świata filmu, wywiady z ludźmi kina oraz relacje z najważniejszych
        imprez filmowych. Opr&oacute;cz tego będziemy prezentować najlepsze felietony i artykuły tematyczne, tworzone
        zar&oacute;wno przez naszą redakcję, jak i przez Was.<br/><br/>Uzupełnieniem naszego serwisu będzie newsletter,
        ściśle dopasowany do Waszych gust&oacute;w i upodobań konkretnego czytelnika. Zar&oacute;wno treść, jak i
        częstotliwość otrzymywania newslettera będzie zależna od Waszego wyboru. Nie musisz posiadać konta na naszej
        stronie, by otrzmywać newsletter, oceniać filmy, komentować artykuły. Jednak z rejestracją w naszym serwisie
        wiąże się wiele korzyści, więc szczerze do niej zachęcamy!
      </div>
      <br/>
      <div style="text-align: justify;">Właścicielem i operatorem technicznym portalu <a title="Filmy.pl"
                                                                                         href="/">Filmy.pl</a>
        jest polska, prężnie rozwijająca się firma multimedialna <a title="NETMEDIA S.A."
                                                                    onclick="window.open(this.href);return false;"
                                                                    href="/">NETMEDIA S.A.</a>
        z siedzibą w Warszawie.<br/>Do <a title="NETMEDIA S.A." onclick="window.open(this.href);return false;"
                                          href="/">NETMEDIA S.A.</a> należą także inne
        popularne serwisy tematyczne, między innymi: <a title="Hotele.pl" onclick="window.open(this.href);return false;"
                                                        href="/">Hotele.pl</a>, <a
          title="Rezerwacja.pl" onclick="window.open(this.href);return false;" href="/">Rezerwacja.pl</a>,
        <a title="Rejsy.pl" onclick="window.open(this.href);return false;" href="/">Rejsy.pl</a>, <a
          title="Epodpis.pl" onclick="window.open(this.href);return false;" href="/">Epodpis.pl</a>,
        <a title="Odchudzanie.com" onclick="window.open(this.href);return false;" href="/">Odchudzanie.com</a>,
        <a title="Kredyty.net" onclick="window.open(this.href);return false;"
           href="/">Kredyty.net</a>.
      </div>
      <br/>
      <div class="clear"></div>
    </div>
  </div>
</div>

<div id="right" class="left">
  <app-newsbox></app-newsbox>
  <app-previewbox></app-previewbox>
</div>
<div class="clear"></div>
