<script type="text/javascript" src="/assets/javascript/newsletter.js"></script>
<script type="text/javascript" src="/assets/javascript/jQuery/jquery.form-defaults.js"></script>
<script type="text/javascript">
  <!--

  $(document).ready(function () {
    $('#newsletter #newsletterEmail').DefaultValue('adres e-mail');
  });

  -->
</script>

<div id="newsletter" class="b_e2e2e2 fc_4c4c4c">
  <div class="top_box">
    <div class="div_title"><h1>Newsletter</h1></div>
    <div class="clear"></div>
  </div>
  <div>
    <div class="right" id="newsletterMessage"></div>
    <div class="clear"></div>
    <input type="text" id="newsletterEmail" name="newsletterEmail" class="b_777777 i_218x20 left"/>
    <div class="addn left" id="newsletterAdd"></div>
    <div class="deln left" id="newsletterRemove"></div>
    <div class="clear"></div>
  </div>
</div>
