@CHARSET "UTF-8";

.BBCode .BBCodeBold{font-weight:bold;}
.BBCode .BBCodeItalics{font-style:italic;} 
.BBCode .BBCodeUnderline{text-decoration:underline;}
.BBCode .BBCodeStrikethrough{text-decoration:line-through;}
.BBCode .BBCodeOverline{text-decoration:overline;}

.BBCode ul.BBCodeListbullet{}
.BBCode ul.BBCodeListdecimal{}
.BBCode ul.BBCodeListlowerroman{}
.BBCode ul.BBCodeListupperroman{}
.BBCode ul.BBCodeListloweralpha{}
.BBCode ul.BBCodeListupperalpha{}

.BBCode .BBCodeQuoteCodeContainer{border:1px solid #e2e2e2;padding:10px;}
.BBCode .BBCodeQuoteCodeHeader{color:#969696;}
.BBCode .BBCodeQuoteCodeBody{color:#969696;font-style:italic;}

.BBCode .BBCodeQuoteContainer{border:1px solid #e2e2e2;padding:10px;} 
.BBCode .BBCodeQuoteHeader{color:#969696;}
.BBCode .BBCodeQuoteBody{color:#969696;font-style:italic;}

.BBCode .BBCodeYouTubeContainer{margin:20px auto;width:425px;}
