@CHARSET "UTF-8";
.stereoContainer{color:#4c4c4c;}
.stereoContainer .stereoPath{font-size:12px;padding:0 20px;}
.stereoContainer .stereoPath a{color:#45A2D7;text-decoration:underline;}
.stereoContainer .stereoPath a.stereoMainPage{margin-right:10px;}
.stereoContainer .stereoPath a:hover{color:#4c4c4c;}
.stereoContainer .stereoHead{padding-left:24px;}
.stereoContainer .stereoHead h1{font-size:24px;font-weight:normal;padding-top:14px;}
.stereoContainer .stereoHead_2 h1{color: #ff381c;font-weight: bold; font-size:24px;font-weight:normal;padding: 0 24px 14px 24px;}
.stereoContainer ul.stereoCategoriesList,.stereoContainer ul.stereoProductsList{margin:0 auto;width:630px;border-top:1px solid #e2e2e2;border-left:1px solid #e2e2e2;}
.stereoContainer ul.stereoCategoriesList li.stereoCategoriesListItem,.stereoContainer ul.stereoProductsList li.stereoProductsListItem{float:left;border-right:1px solid #e2e2e2;border-bottom:1px solid #e2e2e2;}
.stereoContainer ul.stereoCategoriesList li.stereoCategoriesListItem{padding: 5px;width:199px;}
.stereoContainer ul.stereoCategoriesList li.stereoCategoriesListItem a{color:#45A2D7;}
.stereoContainer ul.stereoCategoriesList li.stereoCategoriesListItem a:hover{color:#4c4c4c;}
.stereoContainer ul.stereoProductsList li.stereoProductsListItem{width:209px;}
.stereoProductMiniContainer{height:225px;padding:10px;}
.stereoProductMiniContent{height:205px;}
.stereoProductMiniContainer .stereoProductMiniName{color:#45A2D7;font-size:1.3em;font-weight:bold;}
.stereoProductMiniContainer .stereoProductMiniName:hover{color:#4c4c4c;text-decoration:none;}
.stereoProductMiniContainer .stereoProductMiniMedia{font-size:0.8em;padding-top:3px;}
.stereoProductMiniContainer .stereoProductMiniPrice{color:#E90A1E;font-size:1.3em;font-weight:bold;padding:10px 0;}
.stereoProductMiniContainer .stereoProductMiniImageLink{float:left;width:62px;height:90px;overflow:hidden;}
.stereoProductMiniContainer .stereoProductMiniDescription{float:right;width:110px;}
.stereoProductMiniContainer .stereoProductMiniBuy{float:right;width:80px;height:22px;background:url(../../images/layout/stereoButtonDoKoszyka.png);text-indent:-9999px;}
.stereoProduct{color:#4c4c4c;margin:14px auto 0 auto;width:628px;border:1px solid #e2e2e2;}
.stereoProduct .stereoCoverFloat{float: left;margin-left: 19px;margin-right: 10px;margin-top: 19px;width: 84px;}
.stereoProduct .stereoCover{padding: 9px;width: 64px;border:1px solid #e2e2e2;background:#FFFFFF;overflow:hidden;}
.stereoProduct .stereoInfo{float: left;padding:14px 0 0 0;width:515px;}
.stereoProduct .stereoInfo .stereoLeft{float: left;padding-right:10px;width:390px;}
.stereoProduct .stereoInfo .stereoLeft h1{font-size:18px;color:#45a2d7;}
.stereoProduct .stereoInfo .stereoLeft .stereoOrgTitle{font-size:14px;color:#005181;padding-top:3px;}
.stereoProduct .stereoInfo .stereoLeft .stereoLabel{float: left;font-weight:bold;width:90px;}
.stereoProduct .stereoInfo .stereoLeft .stereoResult{float: left;width:300px;}
.stereoProduct .stereoInfo .stereoRight{float: left;width:115px;}
.stereoProduct .stereoInfo .stereoProductMiniPrice{color:#E90A1E;font-size:1.3em;font-weight:bold;text-align:right;margin-right:19px;margin-bottom:15px;margin-top:5px;}
.stereoProduct .stereoDesc{padding:0 19px;text-align:justify;}