<div class="row">
  <div class="col f_content">

    <h1>KONTAKT Z NAMI</h1>

    <div style="text-align: justify;">Jeżeli:<br/><br/>•&nbsp;&nbsp; &nbsp;jesteś zainteresowany podjęciem współpracy
      z nami,<br/>•&nbsp;&nbsp; &nbsp;chcesz zawiadomić nas o błędzie na stronach portalu,<br/>•&nbsp;&nbsp; &nbsp;masz
      pomysł na ulepszenie mechanizmów działania portalu,<br/>•&nbsp;&nbsp; &nbsp;chcesz nas pochwalić lub
      zganić,<br/>•&nbsp;&nbsp; &nbsp;albo po prostu chcesz napisać do nas parę słów...<br/><br/>...zapraszamy do
      kontaktu za pośrednictwem poniższego formularza. Czytamy wszystkie maile, które do nas przychodzą, ale
      zastrzegamy sobie prawo do odpowiedzi wyłącznie na wybrane listy. Na pewno nie będziemy odpowiadać na maile
      wulgarne i obraźliwe.<br/><br/>Na Waszego maila postaramy się odpowiedzieć w ciągu 72 godzin od jego
      otrzymania.<br/><br/>
    </div>


    <div class="div_title">Formularz <span class="fc_005181">kontaktowy</span></div>


    <form enctype="application/x-www-form-urlencoded" action="" method="post">
      <dl class="zend_form">
        <label for="content" class="fc_4c4c4c label_150 left required">Treść wiadomości</label>

        <textarea name="content" id="content" class="t_410x150 left" cols="1" rows="1"></textarea>
        <div class="clear height_10"></div>
        <label for="email" class="fc_4c4c4c label_150 left required">E-mail</label>

        <input type="text" name="email" id="email" value="" class="i_410x20 left">
        <div class="clear height_10"></div>
        <label for="verify-input" class="fc_4c4c4c label_150_67 left required">Przepisz kod</label>

        <img width="410" height="50" alt="" src="/assets/images/captcha/7308469aabe27cc1b493ab9fa0aa3cf7.png"/><br/>
        <input type="hidden" name="verify[id]" value="7308469aabe27cc1b493ab9fa0aa3cf7"
               messages="Przepisany kod nie jest prawidłowy" class="i_410x20_r right" id="verify-id">
        <input type="text" name="verify[input]" id="verify-input" value=""
               messages="Przepisany kod nie jest prawidłowy" class="i_410x20_r right">
        <div class="clear height_10"></div>

        <input type="image" name="submit" id="submit"
               src="/assets/images/layout/button_send_msg_410x30.gif" class="b_410x30_r right">
        <div class="clear height_10"></div>

        <input type="hidden" name="userSent" value="1" id="userSent"></dl>
    </form>


    <div class="text_start fc_4c4c4c">
      Odpowiedź zostanie wysłana na adres, który podano w formularzu.
    </div>

  </div>
  <div class="col-4">
    <app-newsbox></app-newsbox>
    <app-previewbox></app-previewbox>
  </div>
</div>
