/* HACK-FIX's ONLY FOR IE6 */
#footer A.netmedia	{ behavior: url(http://beta.filmy.pl/public/css/iepngfix.htc); }

#menu A				{ behavior: url(http://beta.filmy.pl/public/css/iepngfix.htc); }
#menu UL            { padding-top: 9px; }
#menu LI A.checked  { cursor: pointer; }
#menu .search       { padding-top: 12px; }

#slider .text_in        { behavior: url(http://beta.filmy.pl/public/css/iepngfix.htc); margin-right: 20px; }
#slider .a_270x30		{ margin-right: 20px; }
#slider .bottom_shadow  { background: none; }

#news .ui-corner-top    { color: #3d9ed3; font-weight: normal; padding: 5px 3px 4px 9px; }
#news .ui-corner-all    { border-bottom: 1px solid #e2e2e2; padding: 6px 3px 6px 9px; }
#news .poster           { margin-bottom: 0; }

.font_small		{ behavior: url(http://beta.filmy.pl/public/css/iepngfix.htc); }
.font_normal	{ behavior: url(http://beta.filmy.pl/public/css/iepngfix.htc); }
.font_large		{ behavior: url(http://beta.filmy.pl/public/css/iepngfix.htc); }


/*
#premieres              { height: 798px; }
#premieres .box_line    { margin-bottom: -1px; }

#news_box       { height: 798px; }
#top            { height: 399px; }
#reviews        { height: 399px; }

#review         { height: 299px; }
#review .poster { margin-left: 4px; }


#boxoffice      { height: 399px; }
#partners       { height: 108px; }
#coming         { height: 399px; }
#actor_box      { height: 329px; }
#actor_box_f    { height: 798px; }
#actor_box_g    { height: 251px; }
#film_box       { height: 329px; }
#film_box_t     { height: 561px; }
#film_box_g     { height: 251px; }
#film_box_a     { height: 680px; }
#film_box_c     { height: 550px; }
#film_box_cc    { height: 221px; }
#faq_box        { height: 1220px; }
#review_box     { height: 800px; }
#review_box_l  { height: 798px; }
#repetuar_box   { height: 1220px; }
#register       { height: 430px; }




A,
IMG.test,
.arrow_comment,
.megafon IMG    { behavior: url(http://beta.filmy.pl/public/css/iepngfix.htc) }

#footer .gpw            { background: url(../../images/layout/logo_gpw_IE_47x39.gif) 10px 10px no-repeat; }


#submenu    { height: 23px; padding-top: 5px; }


.ad_300x300 { position: static; right: 0; bottom: 0; margin-bottom: 20px; }

/* ACCORDION */
/*
.ui-corner-all          { padding: 5px 9px 5px 9px; }

#top10dvdbl .poster     { margin-bottom: 3px; }
#top10cinema .poster     { margin-bottom: 3px; }

#cinemareviews .poster  { margin-bottom: 3px; }
#cinemareviews .col_1   { margin-left: 10px; }

#boxofficew .poster     { margin-bottom: 3px; }
#boxofficepl .poster    { margin-bottom: 3px; }


#moviereviews .col_1    { margin-left: 10px; }
#moviereviews .poster   { margin-bottom: 3px; }

#actor_box .border  { margin-left: 10px; }
#actor_box_g .goto  { margin-right: 9px; }

#film_box  .border  { margin-left: 10px; }
#film_box_g .goto  { margin-right: 9px; }

#film_box_c .comment    { height: 108px; }

#film_box_cc .blank_a   { width: 129px; }

#review_box  .border  { margin-left: 10px; }
