<div class="f_contentbox">
<h1>Zapowiedzi filmowe</h1>

  <mat-accordion displayMode="flat" hideToggle>
    <mat-expansion-panel>
      <mat-expansion-panel-header>Preview 1</mat-expansion-panel-header>
      Lorem ipsum...
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>Preview 2</mat-expansion-panel-header>
      Lorem ipsum...
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>Preview 3</mat-expansion-panel-header>
      Lorem ipsum...
    </mat-expansion-panel>
  </mat-accordion>

</div>


<!--      <div id="moviereviews" class="accordion">-->
<!--        <h3 class="bc_ffffff hFirst"><img src="/assets/images/layout/icon_filmstrip_10x11.gif" alt=""-->
<!--                                          title="" style="padding-right: 6px;"/> 4:13 do Katowic</h3>-->
<!--        <div class="bc_ffffff accFirst">-->
<!--          <div class="col_1">-->
<!--            <div class="stills stills_3"></div>-->
<!--            <div class="genre">Gatunek:</div>-->
<!--            <div class="production">Produkcja:</div>-->
<!--            <div class="comments"></div>-->
<!--          </div>-->
<!--          <div class="col_3">-->
<!--            <a href="/film/885/413-do-katowic/" title="4:13 do Katowic"><img class="poster b_e2e2e2"-->
<!--                                                                                                src="/assets/images/layout/defaultPoster_48x69.jpg"-->
<!--                                                                                                alt="4:13 do Katowic"-->
<!--                                                                                                title="4:13 do Katowic"/></a>-->
<!--          </div>-->

