<!-- header -->
<app-pagestruct-header></app-pagestruct-header>

<!-- menu -->
<app-pagestruct-menu></app-pagestruct-menu>

<!-- submenu -->
<app-pagestruct-submenu></app-pagestruct-submenu>

<!-- slider -->
<app-pagestruct-slider></app-pagestruct-slider>

<!-- search -->
<app-pagestruct-search></app-pagestruct-search>

<div id="main">
  <!-- main -->
  <router-outlet></router-outlet>
</div>
﻿
<div class="clear"></div>

<!-- social -->
<app-pagestruct-social></app-pagestruct-social>

<div class="height_10"></div>

<!-- footer -->
<app-pagestruct-footer></app-pagestruct-footer>

<div class="height_20"></div>
<div class="height_20"></div>
