<div id="left" class="left">
  <div class="contentHeader">
    <div class="top_box">
      <div class="div_title"><h1 style="float: left;">DLA &nbsp;</h1> <span class="fc_005181"><h1 style="float: left;">MEDIÓW</h1></span>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="contentBox b_e2e2e2">
    <div class="contentBlock">
      <div style="text-align: justify;">Jeżeli reprezentują Państwo świat mediów i chcą dowiedzieć się więcej o Filmy.pl
        oraz innych portalach tematycznych NETMEDIA, prosimy o kontakt za pomocą poniższego formularza.<br/><br/>Postaramy
        się odpowiedzieć na Państwa pytania jak najszczegółowiej, w terminie do 72 godzin od otrzymania wiadomości.
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div id="forms" class="b_e2e2e2">
    <div class="top_box fc_4c4c4c">
      <div class="div_title">Kontakt <span class="fc_005181">dla mediów</span></div>
      <div class="clear"></div>
    </div>

    <div class="height_20"></div>

    <div class="center_form">
      <form enctype="application/x-www-form-urlencoded" action="" method="post">
        <dl class="zend_form">
          <label for="content" class="fc_4c4c4c label_150 left required">Treść wiadomości</label>

          <textarea name="content" id="content" class="t_410x150 left" cols="1" rows="1"></textarea>
          <div class="clear height_10"></div>
          <label for="email" class="fc_4c4c4c label_150 left required">E-mail</label>

          <input type="text" name="email" id="email" value="" class="i_410x20 left">
          <div class="clear height_10"></div>
          <label for="verify-input" class="fc_4c4c4c label_150_67 left required">Przepisz kod</label>

          <img width="410" height="50" alt="" src="/assets/images/captcha/84067c3ae6a69dfbc384c3ebb4b1df90.png"/><br/>
          <input type="hidden" name="verify[id]" value="84067c3ae6a69dfbc384c3ebb4b1df90"
                 messages="Przepisany kod nie jest prawidłowy" class="i_410x20_r right" id="verify-id">
          <input type="text" name="verify[input]" id="verify-input" value=""
                 messages="Przepisany kod nie jest prawidłowy" class="i_410x20_r right">
          <div class="clear height_10"></div>

          <input type="image" name="submit" id="submit"
                 src="/assets/images/layout/button_send_msg_410x30.gif" class="b_410x30_r right">
          <div class="clear height_10"></div>

          <input type="hidden" name="userSent" value="1" id="userSent"></dl>
      </form>
    </div>

    <div class="text_start fc_4c4c4c">
      Odpowiedź zostanie wysłana na adres, który podano w formularzu.
    </div>
    <div class="height_10"></div>
  </div>

<app-newslist></app-newslist>

</div>



<div id="right" class="left">
  <app-newsbox></app-newsbox>
  <app-previewbox></app-previewbox>
  <div class="contentBox b_e2e2e2">
    <div class="contentBlock">
      <div style="text-align: center;"><strong>Zapraszamy do pobrania naszego logotypu.</strong><br/>Kliknij w obrazek
        poniżej, by rozpocząć pobieranie.<br/><br/><a title="Pobierz logotypy Filmy.pl"
                                                      href="/getfile/?f=13768&amp;h=5292f"><img
          title="Logotyp Filmy.pl" src="/assets/storage/13767.c9bd8.jpg" alt="Logotyp Filmy.pl" width="200"
          height="72"/></a><br/><br/><em>Formaty: .ai, .eps, .jpg, .pdf</em></div>
      <div class="clear"></div>
    </div>
  </div>
</div>
<div class="clear"></div>



