<a name="content"></a>
<div id="actor_box_f" class="b_e2e2e2 fc_4c4c4c">
  <div class="top_box">
    <div class="div_title">Filmografia</div>
    <div class="clear"></div>
  </div>
  <div class="ul_div">
    <b>Reżyser</b>
    <ul>
      <li><span>1979:</span> <a href="/film/1/czas-apokalipsy/" title="Czas Apokalipsy">Czas
        Apokalipsy (Apocalypse Now)</a></li>
    </ul>
    <div class="clear"></div>
    <div class="height_10"></div>
  </div>
  <div class="ul_div">
    <b>Scenarzysta</b>
    <ul>
      <li><span>1979:</span> <a href="http://www.filmy.pl/film/1/czas-apokalipsy/" title="Czas Apokalipsy">Czas
        Apokalipsy (Apocalypse Now)</a></li>
    </ul>
    <div class="clear"></div>
    <div class="height_10"></div>
  </div>
  <div class="ul_div">
    <b>Kompozytor</b>
    <ul>
      <li><span>1979:</span> <a href="http://www.filmy.pl/film/1/czas-apokalipsy/" title="Czas Apokalipsy">Czas
        Apokalipsy (Apocalypse Now)</a></li>
    </ul>
    <div class="clear"></div>
    <div class="height_10"></div>
  </div>
  <div class="ul_div">
    <b>Producent</b>
    <ul>
      <li><span>1979:</span> <a href="http://www.filmy.pl/film/1/czas-apokalipsy/" title="Czas Apokalipsy">Czas
        Apokalipsy (Apocalypse Now)</a></li>
    </ul>
    <div class="clear"></div>
    <div class="height_10"></div>
  </div>
  <div class="clear"></div>
  <div class="height_20"></div>
</div>
