<div class="row">
  <div class="col">
    <h1>Filmografia</h1>

    <ng-container *ngFor="let filmographyElement of filmography">
      <ng-container *ngIf="filmographyElement.items.length > 0">
        <strong>{{filmographyElement.name}}</strong>
        <ul *ngFor="let role of filmographyElement.items">
          <li>{{role.film.yearOfProduction}}: <a [routerLink]="['/film', role.film.id, role.film.titleClear]"
                                                 title="{{role.film.title}}">{{role.film.title}}
            ({{role.film.titleOriginal}})</a>
            <ng-container *ngIf="role.title">, {{role.title}}</ng-container>
          </li>
        </ul>
      </ng-container>
    </ng-container>
  </div>
</div>
