<div class="row">
  <div class="col" style="background-color: #533f03">

    <div>
      <a title="Biografie">Biografie (0)</a>
      <a title="Biografie">Artykuły (0)</a>
      <a title="Biografie">Newsy (0)</a>
      <a title="Zdjęcia">Zdjęcia (0)</a>
    </div>

    <img src="/assets/images/layout/defaultPerson_160x230.jpg" alt="{{person.name}}" title="{{person.name}}"/>

    <a [routerLink]="['/osoba', person.id, person.nameClear]"><h1>{{person.name}}</h1></a>

    Data urodzenia: {{person.birthDate}}<br>

    Miejsce urodzenia: {{person.birthPlace}}
    <ng-container *ngIf="person.birthCountry">, {{person.birthCountry.name}}</ng-container>
    <br>

    Zawód: Reżyser,&nbsp;Scenarzysta<br>

    <app-filmography></app-filmography>


  </div>
  <div class="col-4" style="background-color: #6610f2">
    <h2>Informacje: {{person.name}} </h2>

    <img src="/assets/images/layout/icon_dot_menu_10x10.png"/>
    <a [routerLink]="['/osoba', person.id, person.nameClear]"
       title="Strona o osobie">Strona o osobie</a><br>
    <img src="/assets/images/layout/icon_dot_menu_10x10.png"/>Biografie (0)<br>
    <img src="/assets/images/layout/icon_dot_menu_10x10.png"/>Artykuły (0)<br>
    <img src="/assets/images/layout/icon_dot_menu_10x10.png"/>Newsy (0)<br>
    <img src="/assets/images/layout/icon_dot_menu_10x10.png"/>Zdjęcia (0)<br>

  </div>
</div>
