<script language="javascript" src="http://www.filmy.pl/plugins/rotator/swfobject.js"></script>
<script type="text/javascript">
  var flashvars = {
    'xmlSrc': 'http://www.filmy.pl/plugins/rotator/logosets.xml',
    'bannersNo': 4,
    'imgDir': 'http://www.filmy.pl/plugins/rotator/images/',
    'leftMargin': 27
  };
  var params = {};
  var attributes = {};
  swfobject.embedSWF("http://www.filmy.pl/plugins/rotator/main.swf", "rotatorContent", "638", "100", "9.0.0", "expressInstall.swf", flashvars, params, attributes);
</script>


<div id="partners" class="b_e2e2e2 fc_4c4c4c">
  <div class="top_box">
    <div class="div_title"><h1>Partnerzy</h1></div>
    <div class="clear"></div>
  </div>
  <div id="rotatorContent" style="height: 100px;">
    <p>Rotator logotypów nie uruchomił się.</p>
  </div>
  <div class="clear"></div>
</div>
