<div id="left" class="left">
  <div class="contentHeader">
    <div class="top_box">
      <div class="div_title"><h1 style="float: left;">REGULAMIN &nbsp;</h1> <span class="fc_005181"><h1
        style="float: left;">SERWISU FILMY.PL</h1></span>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="contentHeader">
    <div class="top_box">
      <div class="div_title"><h1 style="float: left;">1. &nbsp;</h1> <span class="fc_005181"><h1 style="float: left;">DEFINICJE POJĘĆ WYSTĘPUJĄCYCH W REGULAMINIE</h1></span>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="contentBox b_e2e2e2">
    <div class="contentBlock">
      <ol>
        <li>1.1. <strong>Serwis</strong> – zbiór stron internetowych funkcjonujących w
          obrębie domeny o adresie http://www.filmy.pl/. Określenie Serwis w
          zależności od kontekstu może się odnosić również do zbiorowości osób
          administrujących wyżej wymienionym zbiorem, t.j. zapewniających jego
          funkcjonowanie oraz nadzorujących Treść.
        </li>
        <li>1.2. <strong>Wydawca</strong> –
          NETMEDIA Spółka Akcyjna z siedzibą w Warszawie 02-625 przy ul.
          Woronicza 15, NIP: 526-23-61-606, REGON: 016033317, zarejestrowana w
          Krajowym Rejestrze Sądowym pod numerem 0000259747 przez Sąd Rejonowy
          dla m. st. Warszawy, XIII Wydział Krajowego Rejestru Sądowego, będąca
          wyłącznym właścicielem Serwisu.
        </li>
        <li>1.3. <strong>Użytkownik</strong> – osoba dokonująca odwiedzin na stronach należących do Serwisu i
          korzystająca z jego funkcjonalności.
        </li>
        <li>1.4. <strong>Użytkownik Zarejestrowany</strong>
          – Użytkownik, który dokonał Rejestracji w Serwisie, posiadający Konto
          Użytkownika, korzystający z szerszych uprawnień od zwykłego
          Użytkownika, m.in. do dodawania Treści.
        </li>
        <li>1.5. <strong>Autor</strong> - Użytkownik Zarejestrowany, który aktywnie dodaje stworzone przez siebie
          Treści.
        </li>
        <li>1.6. <strong>Rejestracja</strong>
          – procedura w procesie której Użytkownik otrzymuje dostęp do Konta
          Użytkownika oraz możliwość zarządzania usługami dostępnymi w Serwisie.
        </li>
        <li>1.7. <strong>Konto Użytkownika</strong> - konto zakładane przez Użytkownika w trakcie Rejestracji.</li>
        <li>1.8. <strong>Redaktor Serwisu</strong>
          – osoba tworząca i modyfikująca Treść Serwisu, a także nadzorująca jej
          dodawanie, legitymująca się upoważnieniem nadanym przez Wydawcę.
        </li>
        <li>1.9. <strong>Treść</strong>
          – informacje i materiały zawarte w Serwisie, dodawane przez Redaktorów
          Serwisu oraz Użytkowników, w szczególności teksty informacyjne i
          publicystyczne, zdjęcia, pliki multimedialne.
        </li>
        <li>1.10. <strong>Konkurs</strong>
          – przedsięwzięcie rozrywkowe dla Użytkowników Zarejestrowanych Serwisu,
          mające na celu nagrodzenie szczególnych osiągnięć lub wiedzy
          Użytkowników za pomocą nagród rzeczowych, biletów wstępu na pokazy
          filmowe bądź nagród o innym charakterze.
        </li>
      </ol>
      <div class="clear"></div>
    </div>
  </div>
  <div class="contentHeader">
    <div class="top_box">
      <div class="div_title"><h1 style="float: left;">2. &nbsp;</h1> <span class="fc_005181"><h1 style="float: left;">POSTANOWIENIA OGÓLNE</h1></span>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="contentBox b_e2e2e2">
    <div class="contentBlock">
      <ol>
        <li>2.1. Niniejszy regulamin stanowi zbiór zasad i warunków korzystania z Serwisu.</li>
        <li>2.2. Serwis ma charakter informacyjny.</li>
        <li>2.3. Korzystanie z wszystkich funkcjonalności Serwisu jest nieodpłatne.</li>
        <li>2.3. Korzystanie z Serwisu przez Użytkowników jest równoznaczne z akceptacją postanowień zawartych w
          niniejszym Regulaminie.<br/>W momencie podjęcia jakichkolwiek czynności w Serwisie (w szczególności:
          rejestracji jako Użytkownik Serwisu, publikacji Treści na stronach Serwisu, zamieszczenie autorskiego
          artykułu) osoba taka staje się Użytkownikiem Serwisu i oświadcza, iż zapoznała się z niniejszym Regulaminem, w
          pełni akceptuje zawarte w nim postanowienia i zobowiązuje się do ich bezwzględnego przestrzegania.
        </li>
        <li>2.4.
          Wydawca Serwisu stanowczo zobowiązuje się nie przekazywać osobom
          trzecim danych Użytkowników podanych podczas Rejestracji, w
          szczególności imienia i nazwiska, adresu e-mail oraz wieku.
        </li>
        <li>2.5. Wydawca Serwisu zastrzega sobie możliwość wykorzystania danych Użytkowników podanych podczas
          Rejestracji, w szczególności adresu e-mail, do celów marketingowych, w szczególności do przesyłania ofert
          partnerów biznesowych Serwisu. Zgodnie z punktem 2.4 dane Użytkowników nie są przekazywane partnerom
          biznesowym Serwisu.
        </li>
        <li>2.6.
          Użytkownik akceptując Regulamin, wyraża zgodę na otrzymywanie od
          Serwisu biuletynów e-mailowych na adres wskazany podczas Rejestracji.
          Każdy e-mail wysłany przez Serwis uważa się za dostarczony.
        </li>
        <li>2.7.
          Użytkownicy, również niezarejestrowani, mogą się kontaktować z
          przedstawicielami Wydawcy Serwisu poprzez formularze kontaktowe
          umieszczone w odnośnym miejscu w Serwisie.
        </li>
      </ol>
      <div class="clear"></div>
    </div>
  </div>
  <div class="contentHeader">
    <div class="top_box">
      <div class="div_title"><h1 style="float: left;">3. &nbsp;</h1> <span class="fc_005181"><h1 style="float: left;">DODAWANIE TREŚCI</h1></span>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="contentBox b_e2e2e2">
    <div class="contentBlock">
      <ol>
        <li>3.1. Informacje i materiały multimedialne zawarte w serwisie są dodawane zarówno przez Redaktorów Serwisu,
          jak i przez Autorów.
        </li>
        <li>3.2.
          Zarówno Wydawca, jak i Redaktorzy Serwisu nie ponoszą żadnej
          odpowiedzialności, w szczególności cywilnej, karnej i administracyjnej,
          za Treści publikowane w Serwisie przez Autorów oraz za niezgodne z
          niniejszym Regulaminem wykorzystanie rzeczonych Treści.
        </li>
        <li>3.3. Autorzy wprowadzający Treści do serwisu wyrażają tym samym zgodę na
          kopiowanie i rozpowszechnianie rzeczonych Treści przez Wydawcę, także w
          celach promocyjnych oraz reklamowych, a także na korzystanie z wyżej
          wymienionych Treści przez innych Użytkowników w zakresie ich osobistego
          użytku.<br/>Wydawca zobowiązuje się do umieszczenia wraz z wykorzystywanymi Treściami ich tytułu, danych
          autora, stopki autorskiej oraz aktywnego linku prowadzącego do Treści w Serwisie.
        </li>
        <li>3.4. Umieszczając Treści na łamach Serwisu Autor zaświadcza, iż jest właścicielem wszelkich praw autorskich
          koniecznych do opublikowania zamieszczanych Treści.
        </li>
        <li>3.5. Wydawca zastrzega sobie prawo do
          wprowadzania zmian i modyfikacji wprowadzonych do Serwisu Treści,
          włącznie z możliwością ich usunięcia bez powiadomienia Użytkowników.
        </li>
        <li>3.6. Zabronione jest wprowadzanie do Serwisu Treści:</li>
      </ol>
      <ul>
        <li>- naruszających prawa autorskie osób trzecich i/lub w inny sposób niezgodnych z prawem,</li>
        <li>- o charakterze pornograficznym,</li>
        <li>- wulgarnych, obraźliwych dla innych Użytkowników, grup społecznych, narodowości, religii i ras,</li>
        <li>- o charakterze fanatycznym, terrorystycznym, nawołującym do przemocy,</li>
        <li>- promujących alkohol, nikotynę, narkotyki lub inne substancje zabronione,&nbsp; a także broń palną,</li>
        <li>- reklamowych,</li>
        <li>- zawierających odnośniki do stron www niezwiązanych z tematyką Serwisu,</li>
        <li>- w inny sposób niezgodnych z zasadami współżycia społecznego.<br/><br/>W
          razie wykrycia takich Treści wewnątrz Serwisu zostaną one natychmiast
          usunięte, zaś Konto Użytkownika dodającego rzeczone Treści czasowo lub
          trwale zablokowane. Opublikowane artykuły nie mogą również zawierać aktywnych odnośników do treści o wyżej
          wymienionym charakterze.
        </li>
      </ul>
      <ol>
        <li>3.7. W dyskusjach na forum bądź
          komentarzach Użytkownicy obowiązani są zamieszczać Treści merytorycznie
          związane z opisywanym tematem. Zamieszczenie Treści o innym charakterze
          może skutkować usunięciem ich z Serwisu.
        </li>
        <li>3.8. Użytkownicy
          wprowadzający Treść do Serwisu obowiązani są dokładnie sprawdzić
          prawdziwość informacji przed ich wprowadzeniem. W przypadku
          powtarzającego się dodawania nieprawdziwych informacji przez
          Użytkownika jego Konto Użytkownika może zostać czasowo lub trwale
          zablokowane.
        </li>
        <li>3.9. W razie zauważenia w Treści Serwisu
          informacji niezgodnych z prawdą lub wątpliwych, Użytkownik jest
          obowiązany w miarę możliwości samodzielnie poprawić lub usunąć takie
          informacje, lub zawiadomić Redaktora Serwisu, bądź inną osobę
          kontaktową wyznaczoną w tym celu przez Wydawcę.
        </li>
        <li>3.10.
          Użytkownicy wprowadzający Treści do Serwisu zobowiązani są do
          wprowadzania ich własnoręcznie za pomocą przeznaczonych do tego
          formularzy będących częścią Serwisu.
        </li>
        <li>3.11. Wydawca Serwisu zastrzega sobie prawo do drobnych zmian w Treściach dodawanych przez Autorów, w
          szczególności korekcji błędów ortograficznych, stylistycznych, interpunkcyjnych, a także merytorycznych.
        </li>
      </ol>
      <div class="clear"></div>
    </div>
  </div>
  <div class="contentHeader">
    <div class="top_box">
      <div class="div_title"><h1 style="float: left;">4. &nbsp;</h1> <span class="fc_005181"><h1 style="float: left;">PRAWA I OBOWIĄZKI UŻYTKOWNIKÓW</h1></span>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="contentBox b_e2e2e2">
    <div class="contentBlock">
      <ol>
        <li>4.1. Każdy Użytkownik ma prawo korzystać z Treści zawartych w Serwisie w celach informacyjnych, na użytek
          własny.
        </li>
        <li>4.2.
          Użytkownik ma prawo zarejestrować się w Serwisie, tym samym stając się
          Użytkownikiem Zarejestrowanym i otrzymując dostęp do dodatkowych
          funkcjonalności.
        </li>
        <li>4.3. Decyzję o przyznaniu Użytkownikowi Konta Użytkownika podejmuje Wydawca Serwisu.</li>
        <li>4.4. Rejestracja w Serwisie jest darmowa.</li>
        <li>4.5.
          Koniecznym warunkiem do Rejestracji w Serwisie jest podanie własnego,
          aktywnego adresu e-mail. Podanie adresu e-mail podczas Rejestracji
          oznacza zgodę Użytkownika na otrzymywanie biuletynów e-mailowych
          Serwisu.
        </li>
        <li>4.6. Każdy Użytkownik ma obowiązek zachowywać
          się zgodnie z zasadami współżycia społecznego, zarówno wobec innych
          Użytkowników, jak i wobec Redaktorów i innych przedstawicieli Wydawcy.
          Wszelkie wypowiedzi o charakterze wulgarnym, obraźliwym, rasistowskim,
          odwołującym się do systemów totalitarnych czy w inny sposób
          uwłaczającym Użytkownikom bądź przedstawicielom Wydawcy będą
          niezwłocznie usuwane. W razie powtarzania się tej sytuacji Konto
          Użytkownika nie stosującego się do tych zaleceń może zostać zablokowane
          czasowo lub trwale, włącznie z odmową założenia nowego Konta
          Użytkownika na zarejestrowany wcześniej adres e-mail oraz blokadą
          dostępu do Serwisu z danego numeru IP.
        </li>
        <li>4.7. Każdy
          Użytkownik Zarejestrowany jest obowiązany do skorzystania ze swojego
          Konta Użytkownika przynajmniej raz w ciągu 6 miesięcy. W razie
          nieskorzystania przez Użytkownika Zarejestrowanego z Konta Użytkownika
          przynajmniej jednorazowo w tym terminie, może ono zostać uznane za
          nieaktywne i na tej podstawie usunięte przez Wydawcę.
        </li>
        <li>4.8.
          Każdy Użytkownik Zarejestrowany ma prawo do uzupełniania Treści
          Serwisu, w ten sposób stając się Autorem. Treści dodawane przez Autorów są następnie weryfikowane
          przez Redaktorów lub innych przedstawicieli Serwisu. W razie
          niezgodności dodanych Treści z prawdą bądź innych wad wykluczających
          obecność danych Treści w Serwisie, w szczególności nie posiadania przez Autora praw autorskich warunkujących
          publikację ww. treści, zostaną one niezwłocznie usunięte.
        </li>
        <li>4.9.
          Każdy Autor ma prawo do zgłoszenia swojej
          kandydatury na Redaktora Serwisu. Niezależnie od zgłoszonych przez Autorów kandydatur, Redaktorzy Serwisu będą
          zapraszać do współpracy Autorów na podstawie
          jakości Treści dodanych do Serwisu.
        </li>
      </ol>
      <div class="clear"></div>
    </div>
  </div>
  <div class="contentHeader">
    <div class="top_box">
      <div class="div_title"><h1 style="float: left;">5. &nbsp;</h1> <span class="fc_005181"><h1 style="float: left;">ZASADY KONKURSÓW</h1></span>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="contentBox b_e2e2e2">
    <div class="contentBlock">
      <ol>
        <li>5.1. W Konkursach organizowanych przez Wydawcę Serwisu mogą brać
          udział jedynie Użytkownicy Zarejestrowani, posiadający aktywne Konto
          Użytkownika w Serwisie.
        </li>
        <li>5.2. Z udziału w Konkursie wyłączeni są pracownicy i współpracownicy Wydawcy Serwisu, fundatorów nagród oraz
          członkowie ich rodzin.
        </li>
        <li>5.3. Udział w Konkursach organizowanych przez Wydawcę Serwisu jest bezpłatny.</li>
        <li>5.4. Wydawca Serwisu nie ponosi odpowiedzialności za zgłoszenia, które nie
          dotarły do niego z przyczyn od niego niezależnych, m.in. wskutek awarii
          łączy internetowych i/lub komputera Użytkownika.
        </li>
        <li>5.5. Wydawca Serwisu nie ponosi odpowiedzialności za podanie przez Użytkownika nieprawdziwych danych bądź
          danych osoby trzeciej. Podanie danych niezgodnych z prawdą skutkuje odebraniem Użytkownikowi prawa do nagrody.
        </li>
        <li>5.6. Zgłoszenie do Konkursu następuje przez wypełnienie formularza konkursowego po uprzednim zarejestrowaniu
          się i zalogowaniu w Serwisie. W przypadku organizowania przez Wydawcę Serwisu Konkursu na najlepszą Treść,
          zgłoszenie stanowi dodanie określonego rodzaju Treści do Serwisu.
        </li>
        <li>5.7. Czas trwania oraz inne szczegółowe warunki każdego
          Konkursu udostępniane są na stronie danego Konkursu.
        </li>
        <li>5.8. O
          wynikach Konkursu uczestniczący w nim Użytkownicy Zarejestrowani
          powiadamiani są za pomocą poczty elektronicznej na adres e-mailowy
          podany w ustawieniach Konta Użytkownika.
        </li>
        <li>5.9. Użytkownik będący zwycięzcą konkursu powinien odpowiedzieć na e-mail zawiadamiający o wygranej w ciągu
          30 dni. W przeciwnym razie po 30 dniach od wysłania e-maili zawiadamiających o wygranej, nagroda podlega
          przepadkowi na rzecz Wydawcy Serwisu.
        </li>
        <li>5.10. Nagrody
          rzeczowe są wysyłane do laureatów Konkursów za pośrednictwem Poczty
          Polskiej. Istnieje również możliwość odebrania nagrody w siedzibie
          Wydawcy.
        </li>
        <li>5.11. Zaproszenia na pokazy filmowe oraz inne
          nagrody o charakterze nierzeczowym nie mogą być przedmiotem
          odsprzedaży. Istnieje możliwość nieodpłatnego odstąpienia w/w
          nagród osobie wybranej przez laureata Konkursu, powinien on jednak
          powiadomić o tym Redaktora Serwisu.
        </li>
        <li>5.12. Redaktor Serwisu
          bądź inna osoba upoważniona przez Wydawcę może cofnąć przyznanie
          nagrody laureatowi Konkursu, jeżeli istnieje podejrzenie, iż osiągnął
          on premiowany nagrodą wynik w sposób nieuczciwy, w szczególności w
          przypadku niesamodzielnego wprowadzenia przez laureata Treści, bądź
          dokonania plagiatu.
        </li>
      </ol>
      <div class="clear"></div>
    </div>
  </div>
  <div class="contentHeader">
    <div class="top_box">
      <div class="div_title"><h1 style="float: left;">6. &nbsp;</h1> <span class="fc_005181"><h1 style="float: left;">POSTANOWIENIA KOŃCOWE</h1></span>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="contentBox b_e2e2e2">
    <div class="contentBlock">
      <ol>
        <li>6.1. W sprawach nieuregulowanych niniejszym Regulaminem mają zastosowanie odnośne przepisy kodeksu
          cywilnego.
        </li>
        <li>6.2.
          Spory mogące wynikać w zakresie stosunków opisanych w niniejszym
          Regulaminie podlegają pod rozstrzygnięcie sądu powszechnego właściwego
          dla siedziby Wydawcy.
        </li>
        <li>6.3. Wydawca Serwisu zastrzega
          sobie prawo do jednostronnej modyfikacji niniejszego Regulaminu, o czym
          każdorazowo poinformuje Użytkowników drogą elektroniczną. Dalsze
          korzystanie przez Użytkowników z Serwisu po zmianie Regulaminu jest
          równoznaczne z akceptacją w/w modyfikacji.
        </li>
        <li>6.4. Niniejszy Regulamin obowiązuje od dnia 23 lutego 2010 roku.
          <ol>

          </ol>
        </li>
      </ol>
      <ol>
      </ol>
      <div class="clear"></div>
    </div>
  </div>
</div>

<div id="right" class="left">
  <app-newsbox></app-newsbox>
  <app-previewbox></app-previewbox>
</div>
<div class="clear"></div>
