@CHARSET "UTF-8";
/* klasy */
.clear { clear: both; }
.hidden { display: none; }
/* Drag-n-Drop */
.drag { cursor: move; text-align: center; }
.drop { height: 2px; border: 1px solid #aaa; background: #ccc; margin: 1px; padding: 1px; overflow: hidden; clear: both; }
.active { background-color: #CFC; border-color: #ADA; }
/* boks menu pozycji */
.positionMenu { color: #000; border: 1px solid #ddaaaa; background: #ffcccc; }
.positionMenu span { float: left; display: block; padding: 2px 5px 3px 5px; text-align: center; }
.positionMenu .icon { float: right; margin: 3px; padding: 1px 1px 4px 4px; border: 1px solid #000; background-color: #fff; }
/* boks menu modulu */
.moduleMenu { color: #000022; background: #ccccff; border: 1px solid #aaaadd; zoom: 1; }
.moduleMenuInfo { color: #000; background: #ccc; border: 1px solid #aaa; zoom: 1; }
.moduleMenu span, .moduleMenuInfo span { padding: 2px 5px 3px 5px; float: left; display: block; }
.moduleMenu .icons { height: 18px; background-color: #fff; }
/* boks wyjatku modulu */
.moduleException { padding: 2px 5px 3px; background: #FF5F5F; border: 1px solid #DF5353; }
/* ikonki zarzadzania modulem */
.adminModuleIcons { margin: 1px 0px 1px 0px; padding: 3px 3px 0 0; }
.adminModuleIcons li { float: right; margin: 0 0 0 3px; padding: 0; list-style: none; }
.adminModuleIcons a { width: 13px; height: 13px; display: block; overflow: hidden; text-indent: -9999em; background-repeat: no-repeat; }
.adminModuleIconsNew { background: url(../../images/backend/ico/newModule.png); }
.adminModuleIconsEdit { background: url(../../images/backend/ico/editModule.png); }
.adminModuleIconsEditContent { background: url(../../images/backend/ico/editContent.png); }
.adminModuleIconsDelete { background: url(../../images/backend/ico/deleteModule.png); }
.adminModuleIconsAccept { background: url(../../images/backend/ico/acceptModule.png); }
.adminModuleIconsPublish { background: url(../../images/backend/ico/publicModule.png); }
.adminModuleIconsUnpublish { background: url(../../images/backend/ico/hiddenModule.png); }

/* menu administracyjne front-end */
#adminFrontMenu, #adminFrontContent { font: 11px Verdana, Arial, Helvetica, sans-serif !important; }
#adminFrontMenu { position: absolute; float: left; z-index: 111; }
#adminFrontMenu a { color: #fff; }
#adminFrontMenu a:hover { color: #fff; text-decoration: underline; }
#adminFrontMenu #adminFrontMenuList { float: left; padding: 5px 10px; background-color: #000; }
#adminFrontMenu #adminFrontMenuListLabel { color: #fff; font-weight: bold; }
#adminFrontMenu #adminFrontMenuIco { float: left; background-position: -160px -192px; }
#adminFrontMenu #adminFrontMenuIco.closed { background-position: -128px -192px; }
#adminFrontContent { background-color: #000; }
#adminFrontContent #adminFrontContentContainer { width: 780px; margin: 0 auto; background-color: #fff; }
#adminFrontContent #adminFrontContentContainerBackground { background-color: #d4d0c8; }
#adminFrontContent #adminFrontContentContainerClose { float: right; background-position: -80px -128px; }
#adminFrontContent #adminFrontContentContainerLoader { display: block; width: 16px; height: 16px; margin: 0 auto; }
#adminFrontContentContainerInnerLayer { min-height: 60px; padding: 40px 50px 50px 50px; }
#adminFrontMenu #adminFrontMenuIco, #adminFrontContent #adminFrontContentContainerClose { display: block; text-indent: -9999px; width: 16px; height: 16px; background-image: url(../../plugins/ui/theme/images/ui-icons_222222_256x240.png); }

/* lista stron */
#pageList ul { padding-left: 10px; }
#pageList li { display: block; }
.background1 { background-color: #e3f4fa; }
.background2 { background-color: #fff; }
#pageList .current { font-weight: bold; }
#pageList .item li { display: inline; }
#pageList .item li.title { }
