@CHARSET "UTF-8";
div.groupHeader { font-size: 1.2em; font-weight: bold; }
#listContent { float: left; width: 780px; }
#storageContent { float: right; width: 300px; }
ul#storageList, ul.droppable { padding: 2px; list-style: none; background: #F4F4F4; min-height: 25px; }
ul.droppable { margin-bottom: 25px; }
ul#storageList li.personItem { width: 270px; }
ul.droppable li.personItem { width: 755px; }
li.personItem { background:#FFFFFF none repeat scroll 0 0; border-bottom:1px solid #E9E9E9; margin:5px; padding:5px; }
li.personItem span.personImage { float: left; width: 25px; }
li.personItem span.personImage img { border: 0; margin: 0 auto; display: block; }
li.personItem span.personName { float: left; padding: 7px 0 0 7px; }
li.personItem span.personIcons { float: right; padding: 3px 0 0 0; }
#save { width: 250px; height: 50px; border: 1px solid #000; clear: both; }
#filmInfo { padding: 20px; margin-bottom: 25px; }
#filmInfoPoster { float: left; width: 125px; }
#filmInfoContent { float: left; font-size: 1.5em; }