@charset "utf-8";
#containerFileBrowser{width:600px;margin:0 auto;border:1px solid #efefef;}
#storage,#storage #dirs,#storage #files{height:200px;}
#storage{width:600px;}
#storage #dirPath{padding:2px 2px 2px 5px;border-bottom:1px solid #efefef;}
#storage #dirs ul,#storage #files ul{margin:0;padding:0;list-style:none;}
#storage #dirs{width:250px;float:left;overflow:scroll;}
#storage #dirs li{margin:0;padding:6px 3px 3px 3px;background-color:#fcfcfc;border-bottom:1px solid #ebebeb;}
#storage #dirs li .selectDirArea{float:left;width:150px;height:20px;}
#storage #dirs li .fileTypeIco{float:left;margin:0 5px 0 0;}
#storage #files{width:350px;float:right;overflow:scroll;}
#storage #files li{margin:0;padding:6px 3px 3px 3px;background-color:#fcfcfc;border-bottom:1px solid #ebebeb;}
#storage #files li .selectFileArea{float:left;width:310px;}
#storage #files li .fileTypeIco{float:left;margin:0 5px 0 0;}
#storage #files li .fileThumb{float:left;margin:3px 5px 3px 0;}
#storage #files li .fileinfo{float:right;padding-top:3px;}
#storage li .toolIco{float:right;}
#storage li.liCursorOver{background-color:#ebf98e !important;}
#storage .ajaxLoader{position:relative;display:none;width:100%;height:100%;background:#fff url(../../images/ajax-loader.gif) no-repeat 50% 50%;}