<div id="left" class="left">
  <div class="contentHeader">
    <div class="top_box">
      <div class="div_title"><h1 style="float: left;">POLITYKA &nbsp;</h1> <span class="fc_005181"><h1
        style="float: left;">PRYWATNOŚCI SERWISU FILMY.PL</h1></span>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="contentHeader">
    <div class="top_box">
      <div class="div_title"><h1 style="float: left;">Jakie &nbsp;</h1> <span class="fc_005181"><h1
        style="float: left;">dane o Tobie zbieramy?</h1></span>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="contentBox b_e2e2e2">
    <div class="contentBlock">
      <div style="text-align: justify;"><strong>Dane zbierane podczas rejestracji</strong><br/>Do skorzystania z
        niektórych funkcji naszego serwisu konieczna jest rejestracja. Podczas rejestracji zapytamy Cię o Twój adres
        email
        oraz hasło użyte przez Ciebie do logowania w naszej witrynie.<br/><br/><strong>Dane zbierane
          automatycznie</strong><br/>Podczas Twojej wizyty na naszej stronie internetowej, automatycznie zbierane są
        dane
        dotyczące Twojej wizyty, m.in. Twój adres IP, nazwa domeny, typ przeglądarki, typ systemu
        operacyjnego.<br/><br/><strong>Dane zbierane, gdy kontaktujesz się z nami</strong><br/>Gdy kontaktujesz się z
        nami
        za pomocą strony internetowej, telefonu, poczty email, itp. przekazujesz nam swoje dane&nbsp; np. imię,
        nazwisko,
        adres email, itp. W razie konieczności przesłania nagrody konkursowej na Twój adres pocztowy poprosimy Cię o
        jego
        podanie. Nie będzie on wykorzystywany w żaden inny sposób.
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="contentHeader">
    <div class="top_box">
      <div class="div_title"><h1 style="float: left;">W &nbsp;</h1> <span class="fc_005181"><h1 style="float: left;">jaki sposób wykorzystujemy Twoje dane?</h1></span>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="contentBox b_e2e2e2">
    <div class="contentBlock">
      <div style="text-align: justify;">W żadnym wypadku nie będziemy sprzedawali danych zebranych o Tobie podmiotom
        trzecim.<br/><br/>Dane zbierane podczas rejestracji będą wykorzystane wyłącznie do umożliwienia Ci zalogowania
        się
        do naszego systemu. Rejestracja jest obowiązkowa, jeżeli chcesz w pełni korzystać ze wszystkich funkcjonalności
        naszego serwisu.<br/><br/>Jeżeli zapisałeś/łaś się na nasz newsletter, lub w inny sposób wyraziłeś/łaś zgodę na
        jego otrzymywanie, wykorzystamy Twoje dane w celu wysłania Ci naszego Newslettera. Zostaniesz zapytany/a, czy
        chcesz otrzymywać newsletter podczas rejestracji.<br/><br/>Dane zbierane automatycznie mogą być użyte do analizy
        zachowań użytkowników na naszej stronie internetowej, zbierania danych demograficznych o naszych użytkownikach,
        lub do personalizacji zawartości naszych stron internetowych. Dane te są zbierane automatycznie o każdym
        użytkowniku.<br/><br/>Dane zbierane w trakcie korespondencji pomiędzy Tobą a naszym serwisem będą wykorzystane
        wyłącznie w celu odpowiedzi na Twoje zapytanie.<br/><br/>W przypadku kontroli Generalnego Inspektoratu Ochrony
        Danych Osobowych, Twoje dane mogą zostać udostępnione pracownikom Inspektoratu zgodnie z Ustawą o ochronie
        danych
        osobowych.<br/><br/>W przypadku naruszenia Regulaminu naszego serwisu, naruszenia prawa, lub gdy będą wymagały
        tego przepisy prawa, możemy udostępnić Twoje dane organom wymiaru sprawiedliwości.
      </div>
      <br/>
      <div class="clear"></div>
    </div>
  </div>
  <div class="contentHeader">
    <div class="top_box">
      <div class="div_title"><h1 style="float: left;">W &nbsp;</h1> <span class="fc_005181"><h1 style="float: left;">jaki sposób będziemy się z Tobą kontaktować?</h1></span>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="contentBox b_e2e2e2">
    <div class="contentBlock">
      <div style="text-align: justify;">W odpowiedzi na Twoje zapytanie poprzez jeden z formularzy kontaktowych możemy
        skontaktować się z Tobą drogą mailową. W przypadku udziału w konkursie i zdobycia nagrody skontaktujemy się z
        Tobą
        drogą mailową celem ustalenia adresu, na jaki przesłać nagrodę.<br/><br/>Jeżeli zapisałeś/łaś się na nasz
        newsletter, lub w inny sposób wyraziłeś/łaś zgodę na jego otrzymywanie, będziesz otrzymywać nasz
        newsletter.<br/><br/></div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="contentHeader">
    <div class="top_box">
      <div class="div_title"><h1 style="float: left;">W &nbsp;</h1> <span class="fc_005181"><h1 style="float: left;">jaki sposób możesz poinformować nas o zmianie danych?</h1></span>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="contentBox b_e2e2e2">
    <div class="contentBlock">
      <div style="text-align: justify;">Po zalogowaniu się do systemu w profilu użytkownika możesz wprowadzić zmiany lub
        usunąć swoje dane osobowe zbierane podczas rejestracji i używane do zalogowania się do systemu i wysyłki
        newslettera. Danych zbieranych automatycznie nie da się zmienić lub usunąć.
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="contentHeader">
    <div class="top_box">
      <div class="div_title"><h1 style="float: left;">Wykorzystanie &nbsp;</h1> <span class="fc_005181"><h1
        style="float: left;">ciasteczek ("cookies")</h1></span>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="contentBox b_e2e2e2">
    <div class="contentBlock">
      <div style="text-align: justify;">Nasza strona internetowa może wykorzystywać ciasteczka, które służą
        identyfikacji
        Twojej przeglądarki podczas korzystania z naszej strony w celu mierzenia przez nas ruchu w serwisie. Ciasteczka
        nie zawierają żadnych danych osobowych.
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="contentHeader">
    <div class="top_box">
      <div class="div_title"><h1 style="float: left;">W &nbsp;</h1> <span class="fc_005181"><h1 style="float: left;">jaki sposób zabezpieczamy Twoje dane osobowe?</h1></span>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="contentBox b_e2e2e2">
    <div class="contentBlock">
      <div style="text-align: justify;">Nasze bazy danych zabezpieczone są przed wglądem osób trzecich. Dostęp do danych
        osobowych użytkowników mają wyłącznie pracownicy NETMEDIA S.A. obsługujący portal Filmy.pl, którzy są
        zobowiązani
        prawnie do chronienia danych osobowych przed osobami trzecimi.
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="contentHeader">
    <div class="top_box">
      <div class="div_title"><h1 style="float: left;">Kontakt &nbsp;</h1> <span class="fc_005181"><h1
        style="float: left;">z nami</h1></span>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="contentBox b_e2e2e2">
    <div class="contentBlock">
      <div style="text-align: justify;">Firma zbierająca dane: NETMEDIA S.A., ul. Woronicza 15, 02-625 Warszawa,
        Polska.<br/><br/>W razie dodatkowych pytań dotyczących ochrony prywatności, prosimy o kontakt korzystając z <a
          title="Kontakt z Filmy.pl" href="http://www.filmy.pl/kontakt/">formularza kontaktowego</a>.
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>

<div id="right" class="left">
  <app-newsbox></app-newsbox>
  <app-previewbox></app-previewbox>
</div>
<div class="clear"></div>
